<script type="text/javascript" src="search.js"></script>
<script type="text/javascript" src="confirm.js"></script>
<!--シンタックスハイライトを使う-->
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<!-- 横スクロール対応 -->
<style>
    pre.prettyprint {
      font-size:12px;
      overflow: auto;
    }
    pre.prettyprint.high {
      overflow: auto;
      height: 23em;
    }
</style>

<!--a idは移動用のタグ-->
<a id="top"></a>
<h3><%= @username %>さんのマイページ</h3>
<form method="get" action="logout" onSubmit="return logoutConfirm()" style="display: inline">
    <input type="submit" value="ログアウト">
</form>
<input type="button" onclick="location.href='#mycode'" value="マイコードへ">
<input type="button" onclick="location.href='#search'" value="検索へ">
<input type="button" onclick="location.href='#write'" value="書き込み欄へ">

<a id="mycode"></a>
<h4>あなたが共有したコードはこちら</h4>
<% @mycode.each do |a| %>
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px;">
        タイトル：<a href="/codepage/<%= a.id %>"><%= a.title %></a><br>
        共有日時：<%= a.write_time %><br>
        <form method="post" action="del" onSubmit="return deleteConfirm()">
            <input type="submit" value="この共有したコードを削除">
            <input type="hidden" name="id" value="<%= a.id %>">
            <input type="hidden" name="_method" value="delete"><br>
        </form>
    </div>
<% end %>

<a id="search"></a>
<h4>共有されているコードを探すならこちら</h4>
<!-- Ajaxで探す -->
<form>
    キーワード: <input type="text" id="searchword" onKeyUp="doSearch();" maxlength=100>
</form>
<div id="result"></div>

<a id="write"></a>
<h4>新たに共有するならこちら</h4>
<form method="post" action="new" onSubmit="return postConfirm()">
    <label for="title">タイトル</label><br>
    <input type="text" placeholder="200文字以内" name="title" maxlength=200> <br>
    <label for="code">コード</label><br>
    <textarea type="text" name="code" rows="20" cols="60" placeholder="10000文字以内" maxlength=10000 required></textarea><br>
    <input type="submit" value="共有">
    <input type="reset" value="リセット">
</form><br>

<input type="button" onclick="location.href='#top'" value="トップへ">